.Rproj.user/
data/
R/.DS_Store
www/.DS_Store
localhost:9300
scripts/.Rhistory
www/*.csv
www/*.json
.Rhistory
.RData
*.zip
*.RData
*.dta
*.csv
*.json
*.geojson
*.shp
*.xlsx
*.dbf
*.qpj
*.prj
*.shx
*.png
image/.DS_Store
scripts/.DS_Store


